/*
 *
 *      MAIN STYLE SHEET
 *
 */


/*==========================
            INDEX
===========================*/

/*
    1- GENERAL STYLES
    2- NAVBAR AND FOOTER
    3- LOGIN SCREEN
    4- INBOX SCREEN
 */


/*===================================
            GENERAL STYLES
=====================================*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: #F2F2F2;
}



.wrapper{
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: #F2F2F2;
    padding-bottom:100px;
}

.main-content {
    width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.section-title{
    font-weight: bold;
    width: 100%;
    padding: 8px 0px 8px 10px;
    background: #ABABAB;
    margin: 10px 0px;
}



/*===================================
            NAVBAR AND FOOTER
=====================================*/
/*HEADER*/
.header-main{
    background: #01467D;
    border-bottom:3px inset #6897D8;
}

.header-brand img{
    max-width: 100%;
    height: auto;
    padding: 10px;
}

.header-main span{
    color: #FFFFFF;
    margin-left: 15px;
    vertical-align: middle;
    font-size: 2vw;
}

/*NAV BAR*/

.navbar-nav > li > a{
    color: #FFFFFF;
    padding-top:5px !important;
    padding-bottom:5px !important;
    }
    
.navbar{
    min-height:32px !important;
    }

#nav-main a:hover {
    color: #01467D;
}

#nav-main li.active a {
    font-weight: 700;
    color: #6897D8;
}

#nav-main {
    background: rgb(60,93,134); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(60,93,134,1) 61%, rgba(86,125,180,1) 83%, rgba(60,93,134,1) 93%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(60,93,134,1) 61%,rgba(86,125,180,1) 83%,rgba(60,93,134,1) 93%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(60,93,134,1) 61%,rgba(86,125,180,1) 83%,rgba(60,93,134,1) 93%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5d86', endColorstr='#3c5d86',GradientType=0 ); /* IE6-9 */
}

#bootstrap-nav {
    max-width: 100%;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*FOOTER*/
.main-footer{
    border-top:5px outset #6897D8;
    position: absolute;
    bottom: 0;
    max-width: 100%;
    width: 100%;
    height: 100px;
    background-color: #01467D;
    color: #F5F5F7;   
    }

.app-info{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin: 15px 0;
    
}


/*===================================
            MAIN TOOLBAR
=====================================*/
.filter-toolbar-cont{
    display: inline-flex;
}

.filter-toolbar{
    border: 2px solid #AAAAAA;
    text-align: center;
    margin: 20px auto;
    width: 1300px;
}

.filters-cont, .filter-controls{
    text-align: left;
}

.first-filters-row, .second-filters-row{
    display: inline-flex;
}

.first-filters-row select,input, .second-filters-row select,input{
    width: 175px;
    height: 30px;
}

.dates-cont{
    display: flex;
}

.build-date-cont, .submited-cont, .filter-option-cont, .filter-controls{
    margin: 5px;
}

.dates-cont input{
    width: 100px;
    height: 30px;
}

.dates-cont span{
    color: #000000;
    height: 30px;
}

.dates-cont p{
    background: #CDCDCD;
    height: 30px;
    padding-right: 5px;
    border-radius: 5px;
}

.filter-btn{
    margin: 3px;
    border: 1px solid #AAAAAA;
    font-weight: bold;
    width:125px;
    background: #CDCDCD;
}

.filter-btn:hover{
    background: #01467D;
    color: #F2F2F2;
}

.datagrid-options-cont{
    width: 1300px;
    margin: 10px auto;
}

.grid-view,.new-req-cont,.grid-search{
    margin: 5px 0px;
}

.grid-view input{
    width: 15px;
    height: 15px;
}

.grid-view span{
    font-size: 15px;
    margin-right: 20px;
}

.request-btn{
    font-weight: bold;
    margin: 0;
    border-radius: 0px;
}

.grid-search input{
    height: 30px;
    width: 200px;
}

.search-btn{
    height: 30px;
    width: 30px;
    line-height: 15px;
    margin: 0;
    padding: 0px;
    border-radius: 0px;
}

.search-btn:hover{
    background: #01467D;
    color: #F2F2F2;
}

.request-btn:hover{
    background: #01467D;
    color: #F2F2F2;
}

/*===================================
             GRID
=====================================*/
.dataTables_wrapper{
    margin: 25px auto;
}

/*===================================
             NEW TOOLING WINDOW
=====================================*/
.new-tooling-modal-background {
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
}

.new-tooling-form{
    background: #F2F2F2;
    width: 50%;
    height: auto;
    text-align: center;
    margin: auto;
 
}

.new-tooling-form-cont{
    width:100%;
    padding: 15px 10px;
}

.form-header{
    display: flex;
    padding:5px 8px;
    background: #ABABAB;
}

.form-header label{
    width:95%;
    text-align: left;
}

.form-header span{
    width: 5%;
}

.form-row{
    display: flex;
    width: 80%;
    margin: 8px auto;
}

.form-row span{
    height: 30px;
    width: 30%;
    text-align: right;
}

.form-row input, .form-row select{
    width: 60%;
    height: 30px;
    margin-left:5px;
}

.form-row .product-no-input{
    width: 45%;
    height: 30px;
}

.form-row .package-size-input{
    width:15%;
}

.form-row .size-hint{
    width:5%;
    text-align:center;
}

.lookup-product{
    width:10%;
    margin-left:10px;
    height:30px;
}

.lookup-product span{
    width:auto;
    color:#FFFFFF;
}

.date-picker-cont{
    margin-left:5px;
}

.date-picker-cont p{
    background: #CDCDCD;
    height: 30px;
    padding-right: 5px;
    border-radius: 5px;
}

.date-picker-cont input{
    margin-left:0px;
    width: 200px;
    height: 30px;
}

.date-picker-cont span{
    color: #000000;
    width:auto;
    height: 30px;
}

.new-tooling-options{
    border: 2px solid #ABABAB;
    padding: 5px 5px;
    width: 70%;
    margin: 0px auto 10px auto;
}

.tooling-option-row{
    display:flex;
    margin: 2px 0;
}

.tooling-option-row span{
    width:80%;
    text-align:left;
    height:30px;
}

.tooling-option-row select{
    width:15%;
    margin: auto;
    height:30px;
    
}

.new-tooling-draws{
    border: 2px solid #ABABAB;
    padding: 5px 5px;
    width: 70%;
    margin: auto;
    margin: 0px auto 10px auto;
}

.tooling-draws-row {
    display:flex;
    margin:5px 0px;
}

.tooling-draws-row span{
    width:35%;
    text-align:right;
    height:30px;
}

.tooling-draws-row input{
    margin-left:5px;
    width:50%;
    height:30px;
}

.tooling-draws-row button{
    width:12%;
    margin: 0px auto 0px 5px;
    height:30px;
}

