<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
            <mimeMap fileExtension=".webm" mimeType="video/webm" />
			<mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
		<rewrite>

			<rules>
				<rule name="rewritephp">
				<match url="(.*)" />
				<conditions logicalGrouping="MatchAll">
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
				<action type="Rewrite" url="{R:1}.php" />
				</rule>
				
				<rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
				<match url="(.*)" /> 
				<conditions> 
				<add input="{HTTPS}" pattern="off" ignoreCase="true" />
				</conditions> 
				<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
				</rule>   
			</rules>
		</rewrite>
		
		 <httpErrors>    
        <remove statusCode="404" subStatusCode="-1" />                
          <!-- full url when responsemode is Redirect -->
        <error statusCode="404" path="https://skywep.azurewebsites.net" responseMode="Redirect" />
      </httpErrors>

	 <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpCompression>
      <dynamicTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
		<add enabled="true" mimeType="text/plain"/>
        <add enabled="true" mimeType="message/*"/>
        <add enabled="true" mimeType="application/x-javascript"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/json"/>
		<add enabled="true" mimeType="image/svg+xml"/>
        <add enabled="false" mimeType="*/*"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/atom+xml;charset=utf-8"/>
      </dynamicTypes>
      <staticTypes>
        <clear />
        <add enabled="true" mimeType="text/*"/>
		<add enabled="true" mimeType="text/plain"/>
        <add enabled="true" mimeType="message/*"/>
		<add enabled="true" mimeType="image/svg+xml"/>
        <add enabled="true" mimeType="application/javascript"/>
        <add enabled="true" mimeType="application/atom+xml"/>
        <add enabled="true" mimeType="application/xaml+xml"/>
        <add enabled="true" mimeType="application/json"/>
        <add enabled="false" mimeType="*/*"/>
      </staticTypes>
    </httpCompression>
	
    </system.webServer>
</configuration>